html, body {
    background-color: #eee;
}

body {
    padding-top: 40px;
}

.container {
    max-width: 820px;
}

.container > footer {
    margin-top: 20px;
    color: #999;
}

.container > footer p {
    text-align: center;
}

.container > .content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.navbar-fixed-top {
    margin-bottom: 0px !important;
}

.page-header {
    background-color: #f5f5f5;
    padding: 20px 20px 20px;
    margin: -20px -20px 20px;
}

.content .span6, .content .span2 {
    min-height: 500px;
}

.content .span6 {
    width: 560px;
    padding-right: 20px;
}

.content .span2 {
    margin-left: 0;
    padding-left: 19px;
    border-left: 1px solid #eee;
    width: 220px;
}

.control-label {
    font-weight: bold;
}

a.btn {
    position: relative;
    bottom: -2px;
}
